body {
  padding-bottom: 60px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55px;
}

div span {
  float: right;
}

div button {
  display: block;
  margin: 5px;
}

.addtransaction {
  display: block;
  margin: 5px;
}

.list-group {
  display: flex;
  margin: 5px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: rgba(175, 228, 238, 0.55);
}

#hide {
  display: none;
}

canvas {
  width:100%;
  max-width:500px;
  padding: 0%;
}